<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
    <!-- 注解所在的包，  扫描dao路径 -->  
    <context:component-scan base-package="com.springMvc.dao"/>  
    <!-- 注解所在的包，  扫描service路径 -->  
    <context:component-scan base-package="com.springMvc.service"/>  
    <!-- 引入jdbc.properties -->  
    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>  
    <!-- 配置一个数据源，用下dbcp连接池 -->  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
        <!-- 用的mysql数据库，连接到数据库mydb（自己新建） -->  
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" />  
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />  
        <!-- 用户名密码，根据本地数据库自定义 -->  
        <property name="username" value="sgccwn" />  
        <property name="password" value="sgccwn" />  
    </bean>  
      
    <!-- 定义jdbc模板 -->  
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
</beans>  